<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pesquisa</title>
  </head>
  <body>
    <h1>Pesquisa</h1>
    <h3>Selecione uma cidade para pesquisar</h3>

    <form class="" action="/city" method="post">
        <select class="" name="cityName">
          <option value="São Paulo">São Paulo</option>
          <option value="São Bernardo">São Bernardo</option>
          <option value="São Caetano">São Caetano</option>
          <option value="Jundiaí">Jundiaí</option>
        </select>
        <button type="submit" name="submit_button">Pesquisar!</button>
    </form>

  </body>
</html>
